<%- include('../partials/header.ejs')%>
<div class = "content">
    
    <form method = "POST" action = "/products/<%= product.id%>?_method=PUT" class="new-form">
        <label for="title" >Title</label>
        <input type="text" id="title" name="title" value = "<%= product.title%>">
        
        <label for="content">Content</label>
        <textarea rows="5" id="content" name="content" class = "fixed-width"><%= product.content%></textarea>
        
        <input type="submit" value="Submit">   
      
    </form>

    </div>
    <%- include('../partials/footer.ejs')%>
