<%- include('../partials/header.ejs')%>
    <h2>Browse our Selection: </h2>
    <div class = "itemscontainer">
        <%if(products.length) {%>
            <%products.forEach(product=>{%>
                <div class="item">
                    <a href ="/products/<%= product.id%>"><p class="title"><%= product.title%></p>
                    <p class="condition"><%= product.condition%></p>
                    <p class="price"><%= product.price%></p>
                    <img src="<%= product.imageUrl %>" alt="<%= product.title %>" style="max-width: 200px; height: auto;" />
                    </a>
                </div>
            <%});
        } else {%>
            <p>There are no products to display.</p>
        <%}%>
    </div>
<%- include('../partials/footer.ejs')%>
