<%- include('../partials/header.ejs')%>
    <div class = "content">
       <h4><%= product.title%></h4> 
       <small>Posted <%= product.createdAt%> by <%= product.author%></small>
        <div id = "product">
            <%= product.content%>
        </div>
        <form>
            <button type = "submit" formmethod = "GET" formaction="/products/<%= product.id%>/edit">Edit</button>
            <button type = "submit" formmethod = "POST" formaction="/products/<%= product.id%>?_method=DELETE">Delete</button>
        </form>
    </div>
<%- include('../partials/footer.ejs')%>
