<!-- Singular Product Page -->

<%- include('../partials/header.ejs')%>
        
        <!-- MAIN -->
                <h2><%= product.title%></h2><br>
                <div class="container">
                    <div class="image-column">
                        <img src="<%= product.imageUrl %>" alt="<%= product.title %>" style="max-width: 200px; height: auto;" class="item-image">
                    </div>
                    <div class="details-column">
                        <div class="item-details">
                            <strong>Condition: </strong> <%= product.condition%>
                        </div>
                        <div class="item-details">
                            <strong>Price: </strong>$<%= product.price%>
                        </div>
                        <div class="item-details">
                            <strong>Description: </strong><%= product.description%>
                        </div>
                        <br>
                        <small>Posted at <%= product.createdAt%> by <%= product.seller.firstName + ' ' + product.seller.lastName%></small>

                        <%if(user == product.seller._id){%>
                            <div class="buttons">
                                <form>
                                    <button class="button edit-button"  type = "submit" formmethod = "GET" formaction="/products/<%= product.id%>/edit">Edit</button>
                                    <button class="button delete-button"  type = "submit" formmethod = "POST" formaction="/products/<%= product.id%>?_method=DELETE">Delete</button>
                                </form>
                            </div>
                        <%}%> 
                    </div>
                </div><br><br><br>

<%- include('../partials/footer.ejs')%>
